.searchsection .myfilters {
    grid-column-start: 6; 
    grid-column-end: 7;
    width: 250px;
    margin-top: -5px;
  }

#myfilters ul.remembermyfilters>li:first-child {
    padding-left: 0;
    border-left: none;
}

#myfilters ul.remembermyfilters>li {
    float: left;
    padding: 0 5px;
	border-left: 1px solid #bcbec0;
}

.styled-checkbox {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 15px;
    box-sizing: border-box;
    overflow: visible;
    color: #373739;
}
