
.search-options-wrapper ul.remembermyfilters>li:first-child {
    padding-left: 0;
    border-left: none;
}

.search-options-wrapper  ul.remembermyfilters>li {
    padding: 0 10px;
	border-left: 1px solid #bcbec0;
}

