.la-TriangleUpAfter:after {
	content: "\e607";
}

.content-type-label {
	position: absolute;
    margin-top: -24px;
}

.content-type-panel{
	height: 100%;
}

div.selectBox {
	font-family: Lato;
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: left;
	line-height: 30px;
	clear: both;
	color: #000;
	height: 100%;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.selected {
	margin-top: 12px;
	font-size: 1.8rem;
	width: 235px;
	text-indent: 20px;
	border-right: none;
	overflow: hidden;
	height:100%;
	color: rgb(27, 25, 25);
	white-space: nowrap;
}

span.selectArrow {
	width: 30px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	font-size: 20px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	height: 100%;
}

span.selectArrow:after{
	content: "";
    display: inline-block;
    position: absolute;
    top: 35%;
    right: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
}

span.selectArrow.open:after{
    top: 45%;
    transform: rotate(225deg);
}

span.selectArrow,span.selected {
	position: relative;
	float: left;
}

div.selectOptions {
	position: absolute;
	top: 55px;
	left: -2px;
	width: 265px;
	border: 1px solid #ccc;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
	background: #f6f6f6;
	padding-top: 2px;
	display: none;
	max-height: 400px;
	overflow: auto;
	z-index: 1;
}

span.selectOption, span.selectOptionGroup {
	width: 80%;
	line-height: 20px;
	padding: 5px 10%;
}

span.selectOptionGroup{
	white-space: nowrap;
}

span.selectOption{
	font-size: 1.6rem;
	background: #fff;
	color: 000;
}


span.selectOption{
	display: none;
}

span.selectOption:hover, span.selectOptionGroup:hover {
	background: #eaf7fc;
}

span.selectOptionGroup {
	display: block;
	background: #f4f4f5;
	color: #373739;
	line-height: 31px;
}


.icon:after {
	float: right;
	color: #000;
	line-height: 31px;
}

.asfcontentmenu.icon.la-TriangleDownAfter:after {
	line-height: 20px !important;
	margin-left: 5px !important;
	color: #07c !important;
}

.hlct-flag {
	vertical-align: middle; 
	margin-right: 5px; 
	margin-bottom: 5px;
}
		
